/*!
global > color
------------------------------
*/
:root {
  --bg-base: #222222;
  --bg-base-light: #1a1a1a;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --mask-color: rgba(255, 255, 255, 0.2);
  --light-black: rgba(0, 0, 0, 0.3);
  --accordion-bg: #eeeeee;
  --border-white: #ffffff;
  --border-black: #000000;
  --border-selected: #7a3ada;
  --font-black: #000000;
  --font-white: #fff;
  --hover-base: #f0f0f0;
  --hover-secondary: #666666;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-jp: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Bitcount Prop Single", system-ui;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 760px;
  --width-content: 1080px;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-header: 1000;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

legend {
  color: #000;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-size: 16px;
  background-color: var(--bg-base);
  color: var(--font-white);
  font-family: var(--font-family-jp);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*!
component > title
------------------------------
*/
.section-title {
  font-weight: bold;
  font-size: 24px;
  font-family: var(--font-family-en);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
.section-title--center {
  text-align: center;
}

/*!
layout > container
------------------------------
*/
.l-container, .l-container-s {
  width: 90%;
  margin-inline: auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

.l-container {
  max-width: var(--width-content);
}

/*!
layout > section
------------------------------
*/
.l-section {
  padding: 120px 0;
  margin-top: 64px;
}

/*!
layout > header > header
------------------------------
*/
.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 64px;
  background-color: var(--bg-base);
  color: var(--font-white);
  z-index: var(--z-index-header);
  border-bottom: 1px solid var(--border-white);
  font-family: var(--font-family-en);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-inline: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 108px;
    grid-template-columns: 1fr auto;
  }
}
@media screen and (min-width: 1080px) {
  .header {
    padding-inline: 32px;
  }
}
.header.is-fixed {
  position: fixed;
  width: 100%;
}

.header-inner {
  width: 90%;
  height: 100%;
  margin-inline: auto;
}

.header-logo {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .header-logo {
    font-size: 24px;
  }
}

.header-nav {
  height: 100%;
}

.header-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
}
.header-item {
  height: 100%;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .header-item {
    flex-shrink: 1;
    width: 130px;
  }
  .header-item--close {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .header-item {
    width: 140px;
  }
}

.header-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
}
@media (any-hover: hover) {
  .header-link:hover {
    background-color: var(--hover-base);
  }
}
@media screen and (min-width: 768px) {
  .header-link {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (any-hover: hover) {
  .header-link:hover {
    background-color: var(--hover-secondary);
  }
}

.header-hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .header-hamburger-button {
    display: none;
  }
}

.header-hamburger-button-line {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-hamburger-button-line span {
  width: 20px;
  height: 1px;
  background-color: var(--bg-white);
}

.header-menu {
  inset-inline-start: unset;
  inset-inline-end: unset;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  max-width: none;
  max-height: none;
  background-color: var(--mask-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--font-black);
  font-weight: bold;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: inline-block;
    width: auto;
    height: 100%;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    position: static;
    margin: 0;
    padding: 0;
    border: none;
    color: var(--font-white);
    font-size: 16px;
  }
}
@media screen and (min-width: 1080px) {
  .header-menu {
    font-size: 18px;
  }
}

.header-menu::backdrop {
  display: none;
}

.hamburger-close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.hamburger-close-button span {
  width: 20px;
  height: 2px;
  background-color: var(--bg-black);
}
.hamburger-close-button span:nth-child(1) {
  rotate: 45deg;
  transform: translateY(1px) translateX(1px);
}
.hamburger-close-button span:nth-child(2) {
  rotate: -45deg;
  transform: translateY(-1px);
}
@media screen and (min-width: 768px) {
  .hamburger-close-button {
    display: none;
  }
}
@media (any-hover: hover) {
  .hamburger-close-button:hover {
    background-color: var(--hover-base);
  }
}

/*!
layout > header > dropdown-menu
------------------------------
*/
.dropdown-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  padding: 16px 32px;
}
@media (any-hover: hover) {
  .dropdown-button:hover {
    background-color: var(--hover-base);
  }
}
@media screen and (min-width: 768px) {
  .dropdown-button {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (any-hover: hover) {
  .dropdown-button:hover {
    background-color: var(--hover-secondary);
  }
}

.dropdown-button--arrow {
  position: absolute;
  display: inline-block;
  top: 40%;
  right: 32px;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-bottom-color: var(--border-black);
  border-right-color: var(--border-black);
  transform: rotate(45deg);
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .dropdown-button--arrow {
    right: 16px;
    width: 12px;
    height: 12px;
    border: 3px solid transparent;
    border-bottom-color: var(--border-white);
    border-right-color: var(--border-white);
  }
}
.dropdown-button--arrow.is-open {
  transform: rotate(585deg);
  top: 45%;
}

.dropdown-submenu {
  display: none;
}
.dropdown-submenu.is-active {
  display: flex;
}
@media screen and (min-width: 768px) {
  .dropdown-submenu {
    display: none;
    background-color: #222;
    position: absolute;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    border: 1px solid var(--border-white);
  }
}

.dropdown-item {
  padding: 8px;
  border-top: 1px dotted white;
}
@media (any-hover: hover) {
  .dropdown-item:hover {
    background-color: var(--hover-secondary);
  }
}

.dropdown-item:last-child {
  border-bottom: 1px dotted white;
}

.dropdown-item:hover {
  background-color: var(--hover-base);
}

@media screen and (min-width: 768px) {
  .dropdown-item:hover {
    background-color: var(--hover-secondary);
  }
}
/*!
layout > footer
------------------------------
*/
.footer {
  padding: 64px;
  background-color: var(--bg-base);
  margin-top: 64px;
  color: var(--font-white);
  border-top: 1px solid var(--border-white);
}

.footer-inner {
  width: 90%;
  margin-inline: auto;
}

.footer-logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0.05em;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    padding-left: 0;
  }
}

.footer-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px 16px;
  font-size: 14px;
  font-family: var(--font-family-en);
}
@media screen and (min-width: 768px) {
  .footer-list {
    flex-wrap: nowrap;
    font-size: 16px;
  }
}

.footer-copy {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    font-size: 14px;
    margin-top: 40px;
  }
}

/*!
page > kv
------------------------------
*/
.kv {
  margin-top: 64px;
  height: clamp(500px, 100svh - 64px, 1000px);
  border-bottom: 1px solid var(--border-white);
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .kv {
    margin-top: 108px;
    height: clamp(500px, 100svh - 108px, 1000px);
  }
}

.kv-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding-inline: 16px;
}

.kv-title {
  transform: translateY(-32px);
}

.kv-item {
  border: 1px solid var(--border-white);
  border-radius: 8px;
}

/*!
page > accordion
------------------------------
*/
.accordion {
  border: 2px solid var(--border-white);
  border-radius: 16px;
}

.accordion-inner {
  display: grid;
  gap: 24px;
  margin-top: 32px;
}

.accordion-details {
  width: 90%;
  max-width: 600px;
  margin-inline: auto;
  background-color: var(--accordion-bg);
}

.accordion-summary {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--bg-black);
  color: var(--font-white);
  border: 1px solid var(--border-white);
  padding: 8px 16px;
  font-weight: bold;
  position: relative;
  font-size: 10px;
}
@media screen and (min-width: 500px) {
  .accordion-summary {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .accordion-summary {
    font-size: 16px;
  }
}

.accordion-summary::-webkit-details-marker {
  display: none;
}

.accordion-summary::before,
.accordion-summary::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background-color: var(--bg-white);
}

.accordion-summary::before {
  width: 10px;
  height: 2px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .accordion-summary::before {
    width: 16px;
    height: 2px;
  }
}

.accordion-summary::after {
  width: 2px;
  height: 10px;
  right: 20px;
  transition: rotate 0.3s;
}
@media screen and (min-width: 768px) {
  .accordion-summary::after {
    width: 2px;
    height: 16px;
    right: 23px;
  }
}

.accordion-details[open] .accordion-summary::after {
  rotate: 270deg;
}

.accordion-content-box {
  overflow: hidden;
}

.accordion-answer {
  color: var(--font-black);
  padding: 8px;
  font-size: 10px;
}
@media screen and (min-width: 500px) {
  .accordion-answer {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .accordion-answer {
    font-size: 16px;
  }
}

/*!
page > tab-menu
------------------------------
*/
.tab-menu {
  border: 2px solid var(--border-white);
  border-radius: 16px;
}

.tab-menu-inner {
  width: 95%;
  margin-inline: auto;
}

.tab-menu-list {
  display: flex;
  margin-top: 32px;
}

.tab-menu-item {
  font-weight: bold;
  font-size: 10px;
  flex: 1;
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  transition: opacity 0.4s;
}
@media screen and (min-width: 500px) {
  .tab-menu-item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .tab-menu-item {
    font-size: 18px;
  }
}

.tab-menu-item button {
  border-bottom: 2px solid var(--border-selected);
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
@media (any-hover: hover) {
  .tab-menu-item button:hover {
    opacity: 1;
  }
}
.tab-menu-item button.is-active {
  opacity: 1;
}

.tab-menu-content {
  font-size: 12px;
  display: none;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .tab-menu-content {
    font-size: 16px;
  }
}
.tab-menu-content.is-active {
  display: block;
}

/*!
page > modal
------------------------------
*/
.modal {
  text-align: center;
  border: 2px solid var(--border-white);
  border-radius: 16px;
}

.modal-window {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 16px;
}

.modal-window::backdrop {
  background-color: transparent;
}

.modal-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-contents {
  background-color: var(--bg-white);
  padding: 40px;
  width: 95%;
  max-width: 800px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}
@media screen and (min-width: 768px) {
  .modal-contents {
    padding: 60px;
  }
}

.modal-close-button {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .modal-close-button {
    height: 40px;
    width: 40px;
  }
}
@media (any-hover: hover) {
  .modal-close-button:hover::after, .modal-close-button:hover::before {
    scale: 1.1;
  }
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--bg-black);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: scale 0.1s;
}
@media screen and (min-width: 768px) {
  .modal-close-button::before,
  .modal-close-button::after {
    width: 20px;
  }
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-text {
  font-size: 12px;
}
@media screen and (min-width: 500px) {
  .modal-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .modal-text {
    font-size: 16px;
  }
}

.modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--mask-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
}

.modal-open-button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 200px;
  background-color: var(--bg-black);
  color: var(--font-white);
  border: 1px solid var(--border-white);
  border-radius: 12px;
  padding: 16px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .modal-open-button {
    width: 320px;
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */