@use "../../global" as g;

/*!
page > top > top-about
------------------------------
*/

.p-top-about__description {
    padding-block: var(--space-40);
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    @include g.mq() {
        padding-block: var(--space-64);
    }
}

.p-top-about__description-text {
    color: var(--color-text-muted);
}

.p-top-about__achievements {
    border-top: 1px solid var(--color-border-base);
    display: flex;
    // gap: 100px;
    justify-content: space-between;
    padding-top: var(--space-40);
    @include g.mq() {
        justify-content: start;
        gap: 200px;
        padding-top: var(--space-64);
    }
}

.p-top-about__achievements-number {
    line-height: 1;
    font-family: var(--font-family-accent);
    color: var(--color-text-base);
    font-size: 40px;
    font-weight: bold;
    @include g.mq() {
        font-size: 64px;
    }
    &::after {
        content: "+";
    }
}

.p-top-about__achievements-label {
    line-height: 1;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.18em;
    color: var(--color-accent);
    text-transform: uppercase;
    margin-top: var(--space-8);
    @include g.mq() {
        font-size: 16px;
    }
}

.p-top-about__achievements-text {
    font-size: 12px;
    color: var(--color-text-muted);
    margin-top: var(--space-8);
    max-width: 150px;
    @include g.mq() {
        font-size: 14px;
        max-width: 200px;
    }
}
