@use "../global" as g;

/*!
page > kv
------------------------------
*/

.kv {
    margin-top: 64px;
    height: clamp(500px, calc(100svh - 64px), 1000px);
    border-bottom: 1px solid var(--border-white);
    position: relative;
    width: 100%;
    overflow: hidden;
    @include g.mq() {
        margin-top: 108px;
        height: clamp(500px, calc(100svh - 108px), 1000px);
    }
}

.kv-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;;
    padding-inline: 16px;
}

.kv-title {
    transform: translateY(-32px);
}

.kv-item {
    border: 1px solid var(--border-white);
    border-radius: 8px;
}
