@use "../global" as g;

/*!
page > modal
------------------------------
*/

.modal {
    text-align: center;
    border: 2px solid var(--border-white);
    border-radius: 16px;
}

.modal-window {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.modal-window::backdrop {
    background-color: transparent;
}

.modal-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contents {
    background-color: var(--bg-white);
    padding: 60px;
    width: 90%;
    max-width: 800px;
    position: relative;
}

.modal-close-button {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 40px;
    height: 40px;
    @media (any-hover: hover) {
        &:hover {
            &::after,
            &::before {
                scale: 1.1;
            }
        }
    }
}
.modal-close-button::before,
.modal-close-button::after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--bg-black);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: scale 0.1s;
    @include g.mq() {
        width: 20px;
    }
}
.modal-close-button::before {
    transform: rotate(45deg);
}

.modal-close-button::after {
    transform: rotate(-45deg);
}

.modal-text {
    font-size: 16px;

    @include g.mq() {
        font-size: 24px;
    }
}

.modal-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--mask-color);
    backdrop-filter: blur(10px);
    opacity: 0;
}

.modal-open-button {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 320px;
    background-color: var(--bg-black);
    color: var(--font-white);
    border: 1px solid var(--border-white);
    border-radius: 12px;
    padding: 16px;
    margin-top: 32px;
}
