@use "../global" as g;

/*!
component > title
------------------------------
*/

.section-title {
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-family-en);
    @include g.mq() {
        font-size: 32px;
    }
    &--center {
        text-align: center;
    }
}
