/*!
global > font
------------------------------
*/

:root {
    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Playfair Display", serif;
    --font-family-mono: "JetBrains Mono", monospace;
}
